# Multi-linear Regression

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('50_Startups.csv')

In [4]:
data.head(5)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [20]:
R = data['State']

In [21]:
R.unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [23]:
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()
le.fit(R)
R=le.transform(R)
data['State']= R
print('Classes:',le.classes_)
print('State:',R)

Classes: ['California' 'Florida' 'New York']
State: [2 0 1 2 1 2 0 1 2 0 1 0 1 0 1 2 0 2 1 2 0 2 1 1 2 0 1 2 1 2 1 2 0 1 0 2 1
 0 2 0 0 1 0 2 0 2 1 0 2 0]

In [25]:
x = data.iloc[:,0:4].values

In [29]:
y = data.iloc[:,-1].values

In [31]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state=0)

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
MLR = LinearRegression()

In [34]:
MLR.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
y_pred = MLR.predict(x_test)

In [37]:
y_pred

array([103959.40508021, 132398.73236694, 133529.03790148,  72958.28368314,
       179534.78737166, 115533.62584099,  67476.95847883,  98504.36199396,
       114789.16083781, 168972.21909945])

In [38]:
y_test

array([103282.38, 144259.4 , 146121.95,  77798.83, 191050.39, 105008.31,
        81229.06,  97483.56, 110352.25, 166187.94])